{% extends "base.html" %}

{% block content %}
<div class="auth-container">
    <h2>Edit Course</h2>
    <p class="form-subtitle">Update course information.</p>

    <form method="POST">
        <label for="course_code">Course Code</label>
        <input type="text" name="course_code" id="course_code" value="{{ course.course_code }}">

        <label for="title">Course Title</label>
        <input type="text" name="title" id="title" value="{{ course.title }}">

        <label for="credit_hours">Credit Hours</label>
        <input type="number" name="credit_hours" id="credit_hours" value="{{ course.credit_hours }}">

        <button type="submit">Save Changes</button>
    </form>
</div>
{% endblock %}